body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 15px;
    color:#F9FAF8;
    margin-bottom: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 2px solid white;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    flex-shrink: 0;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color:#F9FAF8
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.h1 {
    font-size: 48px;
    font-weight: 800;
    font-style: italic;
}

.h1text {
    font-size: 18px;
}

img {
    width: 400px;
    width: 400px;
}

.info img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 25px;
}

#content {
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
}

.workintro {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 32px;
}

#about {
    text-align: center;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    padding: 50px;
}

span {
    font-weight: bold;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.box {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 25px 50px;
    width: 50%;
}

.boxhead {
    font-size: 18px;
    font-weight: bold;
}

.quote {
    background-color: #3882f6;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 2px 16px;
}

.box-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding: 25px 0;
}